.portrait {
    border-radius: 50%;
    border: 2px aqua;
    max-width: 300px;
}
.container {
    display: flex;
    flex-direction: column;
}
.container * {
    align-self: center;
}
.container p {
    text-align: center;
}