.controlStick {
    width: 50px;
    height: 50px;
}

body {
    background-color: #000;
}

p {
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
}

.menu {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menutext {
    color: #fff;
    font-family: monospace;
    font-size: 1.5rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}