.front-to-right {
  animation: front-to-right 0.5s forwards;
}

.front-to-left {
  animation: front-to-left 0.5s forwards;
}

.front-to-bottom {
  animation: front-to-bottom 0.5s forwards;
}

.front-to-top {
  animation: front-to-top 0.5s forwards;
}

.right-to-front {
  animation: right-to-front 0.5s forwards;
}

.left-to-front {
  animation: left-to-front 0.5s forwards;
}

.bottom-to-front {
  animation: bottom-to-front 0.5s forwards;
}

.top-to-front {
  animation: top-to-front 0.5s forwards;
}