@keyframes rotationY {
  0%   {
    transform: rotateY(0deg);
    animation-timing-function: ease-out;
  }
  25%  {
    transform: rotateY(5deg);
    animation-timing-function: ease-in;
  }
  50%  {
    transform: rotateY(0deg);
    animation-timing-function: ease-out;
  }
  75%  {
    transform: rotateY(-5deg);
    animation-timing-function: ease-in;
  }
}

@keyframes rotationZ {
  0%   {
    transform: rotateZ(0deg);
    animation-timing-function: ease-out;
  }
  25%  {
    transform: rotateZ(5deg);
    animation-timing-function: ease-in;
  }
  50%  {
    transform: rotateZ(0deg);
    animation-timing-function: ease-out;
  }
  75%  {
    transform: rotateZ(-5deg);
    animation-timing-function: ease-in;
  }
}

@keyframes rotationX {
  0%   {
    transform: rotateX(1deg);
    animation-timing-function: ease-in-out;
  }
  25%  {
    transform: rotateX(-1deg);
    animation-timing-function: ease-in-out;
  }
  50%  {
    transform: rotateX(1deg);
    animation-timing-function: ease-in-out;
  }
  75%  {
    transform: rotateX(-1deg);
    animation-timing-function: ease-in-out;
  }
  100%   {
    transform: rotateX(1deg);
    animation-timing-function: ease-in-out;
  }
}

@keyframes front-to-left {
  0%   {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes left-to-front {
  0%   {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes front-to-right {
  0%   {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}

@keyframes right-to-front {
  0%   {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes front-to-bottom {
  0%   {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes bottom-to-front {
  0%   {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes front-to-top {
  0%   {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes top-to-front {
  0%   {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes reflection {
  0%   {
    background-position: 40px 0px;
  }
  25%  {
    background-position: 70px -70px;
  }
  50%  {
    background-position: 40px 0px;
  }
  75%  {
    background-position: 10px -70px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@keyframes reflectionLine {
  0%   {
    background-position: 30% 20%;
    animation-timing-function: ease-out;
  }
  25%  {
    background-position: 40% 15%;
    animation-timing-function: ease-in;
  }
  50%  {
    background-position: 30% 20%;
    animation-timing-function: ease-out;
  }
  75%  {
    background-position: 20% 15%;
    animation-timing-function: ease-in;
  }
  100%   {
    background-position: 30% 20%;
    animation-timing-function: ease-out;
  }
}

@keyframes bobbing {
  0%   {
    top: 0px;
    animation-timing-function: ease-in-out;
  }
  25%  {
    top: 10px;
    animation-timing-function: ease-in-out;
  }
  50%  {
    top: 0px;
    animation-timing-function: ease-in-out;
  }
  75%  {
    top: 10px;
    animation-timing-function: ease-in-out;
  }
  100%   {
    top: 0px;
    animation-timing-function: ease-in-out;
  }
}

@keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes show {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}